grafana:
  persistence:
    enabled: true
    type: pvc
    storageClassName: local-path
    accessModes:
      - ReadWriteOnce
    size: 2Gi
  initChownData:
    enabled: false
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
    hosts:
      - monitoring.megisholavonat.info
    path: /

prometheus:
  prometheusSpec:
    retention: 180d
    externalUrl: https://prometheus-monitoring.megisholavonat.info
    routePrefix: /
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 20Gi
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: monitoring-basic-auth@kubernetescrd
    hosts:
      - prometheus-monitoring.megisholavonat.info
    paths:
      - /
    pathType: Prefix

alertmanager:
  alertmanagerSpec:
    externalUrl: https://alertmanager-monitoring.megisholavonat.info
    routePrefix: /
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: local-path
          accessModes:
            - ReadWriteOnce
          resources:
            requests:
              storage: 1Gi
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      traefik.ingress.kubernetes.io/router.entrypoints: websecure
      traefik.ingress.kubernetes.io/router.middlewares: monitoring-basic-auth@kubernetescrd
    hosts:
      - alertmanager-monitoring.megisholavonat.info
    paths:
      - /
    pathType: Prefix
